<header class="header-class">
    <img src="ChiapaLoveLogo.png" alt="Logo-ChiapaLove" class="logo">
    <h1 class="name-chiapaLove">ChiapaLove</h1>
    <nav class="nav-class">
        <ul class="nav-list">
            <li><a href="/inicio" class="nav-link">Inicio</a></li>
            <li><a href="/patrimonio" class="nav-link">Patrimonio</a></li>
            <li><a href="#" class="nav-link">Videos</a></li>
            <li><a href="#" class="nav-link">Fechas</a></li>
        </ul>
    </nav>
</header>
