<app-header></app-header>
<h1 class="fechas-importantes">Fechas Importantes</h1>
<app-card-fechas 
    fecha="01 de Enero"
    evento="Anuncio del Pueblo"
    descripcion="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrc="fechas/Anuncio.jpg">
</app-card-fechas>
<app-card-fechas-izquierdo
    fechaizq="04 de  Enero"
    eventoIzq="Dia del Niño de Atocha"
    descripcionIzq="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrcIzq="fechas/NiñoAtocha.jpeg">
</app-card-fechas-izquierdo>
<app-card-fechas
    fecha="08 de Enero"
    evento="Anuncio de la Chuntae"
    descripcion="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrc="fechas/chuntae.jpeg">    
</app-card-fechas>
<app-card-fechas-izquierdo
    fechaizq="14 de  Enero"
    eventoIzq="Dia de Chiapanecas"
    descripcionIzq="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrcIzq="fechas/Chiapanecas.webp">
</app-card-fechas-izquierdo>
<app-card-fechas
    fecha="15 de Enero"
    evento="Primer dia de Parachicos"
    descripcion="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrc="fechas/parachicos15Enero.png">    
</app-card-fechas>
<app-card-fechas-izquierdo
    fechaizq="17 de  Enero"
    eventoIzq="Segundo dia de Parachicos"
    descripcionIzq="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrcIzq="fechas/parachicos17Enero.avif">
</app-card-fechas-izquierdo>
<app-footer></app-footer>