<app-header></app-header>
<h1 class="fechas-importantes">Fechas Importantes</h1>
<app-card-fechas 
    fecha="01 de Enero"
    evento="Anuncio del Pueblo"
    descripcion="El tradicional anuncio se realiza el dia 01 de Enero apartir de las 09:00 am, el punto de reunion se realiza en la hermita de San Jacinto, donde los 
    responsables de llevar acabo este evento es la Familia Madrigal Nigenda mas conocidos como la “pandilla de los Jerrys” donde reciben a los invitados con comida y pozol
    acompañado de un ambiente espectacular con musica de Marimba y por supuesto la tradicional musica de tambor y carrizo."
    ImageSrc="fechas/Anuncio.jpg">
</app-card-fechas>
<app-footer></app-footer>