<div class="banner-container">
    <app-header></app-header>
    <video src="/videos/LeyendaChiapaLove.mp4" autoplay muted class="video-leyenda"></video>
    <h1 class="declaracion-titulo">PATRIMONIO CULTURAL</h1>
</div>
<h1 class="declaracion-unesco">Declaracion por la UNESCO</h1>
<p class="declaracion-parrafo">
    La UNESCO declaró la fiesta de Parachicos en la tradicional fiesta de enero de Chiapa de Corzo como Patrimonio Cultural Inmaterial de la Humanidad el 16 de noviembre de 2010.  
    Esta distinción reconoce el valor cultural, histórico y social de la festividad, particularmente la danza de los Parachicos, que es una tradición emblemática de la comunidad. 
    La UNESCO destacó la importancia de esta celebración por su fusión de elementos indígenas y españoles, así como su rol en fortalecer la identidad y 
    cohesión social de Chiapa de Corzo.
</p>
<div class="musica-tradicional">
    <img src="images/carrizo.jpg" alt="musica-tradicional-ChiapaLove" class="img-musica-tradicional">
    <div class="texto-musica-container">
        <h1 class="titulo-musica">Música Tradicional</h1>
        <p class="texto-musica">La música tradicional de tambor y carrizo es un elemento clave en la fiesta de Chiapa de Corzo, especialmente durante la danza de los Parachicos. El tambor, de madera y cuero, marca el ritmo, mientras el carrizo, una flauta de caña, crea melodías agudas. Esta música, de origen indígena, acompaña las procesiones y danzas, destacándose por sus ritmos repetitivos y melodías improvisadas. Es una expresión cultural que conecta a la comunidad con sus raíces y enriquece la atmósfera festiva y religiosa de la celebración.</p>
    </div>
</div>

<div class="fiesta-grande-container">
    <h2 class="fiesta-titulo">La Tradicional Fiesta Grande</h2>
    <p class="fiesta-parrafo">
        <strong>Instrumentos:</strong><br>
        <strong>Tambor:</strong> Se trata de un tambor pequeño hecho de madera y cuero, cuyo sonido rítmico marca el compás de las danzas y procesiones.<br>
        <strong>Carrizo:</strong> Es una especie de flauta hecha de caña o carrizo, que emite un sonido agudo y melodioso. Este instrumento acompaña al tambor, creando un contraste sonoro que es característico de la música indígena de Chiapas.
    </p>
</div>
<app-footer></app-footer>
