.banner-container {
    position: relative;
}

app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.video-leyenda {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.declaracion-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    position: absolute;
    top: 85%;
    left: 1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.declaracion-titulo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 10px;
}

.unesco-section {
    margin: 40px 0;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.declaracion-unesco {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.declaracion-parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #000;
    line-height: 1.6;
    text-align: left;
}

.musica-tradicional-container {
    margin: 40px 0;
}

.musica-tradicional {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.img-musica-tradicional {
    width: 450px;
    height: auto;
    border-radius: 40px;
    margin-right: 20px;
}

.texto-musica-container {
    flex: 1;
}

.titulo-musica {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.texto-musica {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    overflow-wrap: break-word;
}

.parachicos-section {
    margin: 40px 0;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.dato-parachico {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.dato-parachico-parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    text-align: center;
    margin-top: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 20px;
    gap: 15px;
}

.card-patrimonio {
    margin: 10px; 
    flex: 1 1 calc(33.333% - 30px); 
    max-width: 350px; 
    box-sizing: border-box; 
}

