<div class="banner-container">
    <app-header></app-header>
    <app-banner></app-banner>
</div>

<div class="card-container">
    <app-card 
        title="Parachico" 
        imagenSrc="images/parachico.jpg"
        description="Segun la leyenda del origen del parachico esta nace a mediados del siglo XVII, cuando una adinerada española llego en busca de la cura para su pequeño hijo, 
        quien acombojado por un mal estava triste todo el tiempo, al verlo asi los lugareños se disfrazaron, con mascaras de madera y ropa coloridad para alegrar al chico, dando 
        asi como nombre historico: Parachico.">
    </app-card>
    <app-card
        title="Chiapaneca"
        imagenSrc="images/Chiapaneca.jpeg"
        description="Cuenta la leyenda que el origen de la chiapaneca, proviene de la dama o acompañante del español, el nombre da origen a la representacion de la flora y fauna 
        colorida del estado de Chiapas,  dando haci la representacion global del estado, como representacion en la feria hace su aparicion en dia 14 de Enero de cada año.">
    </app-card>
    <app-card
        title="Chuntae"
        imagenSrc="images/chuntae.jpg"
        description="Cuenta la leyenda que la Chuntae da origen apartir de la segunda llegada de doña Maria Angulo, donde acompañada por sus sirvientes ofrecieron ofrendas a los
        lugareños del pueblo de chiapa de corzo, debido a que durante la conquista de los españoles los hombres tenian que dejar a sus mujeres en casa, debido a la desesperacion 
        que enfrentaban deciden vestirse de mujer para poder infiltrarse al grupo de mujeres.">
    </app-card>
</div>
<div class="origen-history">
    <h1 class="origen-history-h1">Origen y Significado</h1>
    <div class="history-content">
        <div class="history-text">
            <p class="parrafo-history">La fiesta en honor a San Sebastián Mártir, que se celebra del 8 al 23 de enero, tiene raíces en leyendas prehispánicas, como la de Doña María de Angulo, quien organizó una gran fiesta en agradecimiento tras recibir ayuda para curar a su hijo. Uno de los elementos más emblemáticos es la danza de los "Parachicos", que combina influencias indígenas y españolas. Además de la danza, la fiesta incluye procesiones religiosas, ferias y rituales en honor a San Sebastián. En 2010, la UNESCO la declaró Patrimonio Cultural Inmaterial de la Humanidad.</p>
        </div>
        <img src="images/history.jpg" alt="Historia-ChiapaLove" class="history-image">
    </div>
</div>
<app-footer></app-footer>