.fechas-importantes {
    font-family: 'Poppins', sans-serif;
    padding: 80px;
}

.contenido {
    display: flex;
    align-items: center; 
}

.texto {
    flex: 1; 
    padding-right: 20px;
}

.fecha-enero {
    color: red; 
    font-size: 45px;
}

.evento-enero {
    color: black; 
    font-size: 24px;
}

.imagen-chiapa {
    max-width: 500px; 
    height: auto; 
    border-radius: 10px;
}